# Configuración de base de datos
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=CHANGE_THIS_PASSWORD

# Configuración de Odoo
ODOO_ADMIN_PASSWORD=CHANGE_THIS_ADMIN_PASSWORD
ODOO_HOST=db
ODOO_PORT=8069

# Configuración de debug (true/false)
ENABLE_DEBUG=true
